:root {
  --blanc: #ECEEFE;
  --bleu: #6A99F0;
  --bleupale: #B4CCF8;
  --bleufonce: #3D405B;
  --grisfonce: #29281D;
  --jaune: #F2AC29;
}

* {
  box-sizing: border-box;
}

a {
  /* color: RGB(148, 159, 224); */
  color: var(--bleu);
  scroll-behavior: smooth;
}

a:visited {
  /* color: RGB(194, 87, 225); */
  color: var(--bleupale);
}

.aere > li {
  margin-bottom: 0.5em;
}


.bleu {
  color: var(--bleu);
}

/* .bleu a:visited{
  color: #92b4f4;
} */

blockquote {
  font-style: italic;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bleufonce);
  /* background-color: #4A7C59; */
  color: var(--blanc);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;

  /* background-color: RGB(48, 48, 75);
  color: RGB(232, 233, 240);
  font-family: 'Inconsolata', monospace; */
}

::selection {
  background-color: var(--jaune);
  color: var(--bleufonce);
  font-weight: bolder;
}

#boutonHaut {
  /* display: none; /* Hidden by default */
  opacity: 0; /* transparent par défaut */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--bleu); /* Set a background color */
  color: var(--blanc); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 12px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition-duration: 500ms;

}

#boutonHaut:hover {
  background-color: var(--grisfonce); /* Ajouter un arrière-plan gris foncé on hover */
}

.centre {
  text-align: center;
}

code {
  white-space: pre;
  font-family: 'Source Code Pro', monospace;
}

.date-achevement {
  color: var(--bleu);
  font-weight: bold;
  text-transform: uppercase;
}

.deux {
  width: 50%;
}

.element {
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
}

.element::before {
  content: "<";
}

.element::after {
  content: ">";
}

figcaption {
  font-style: italic;
  text-align: right;
}

.gauche {
  text-align: left;
}

.graisse-normale {
  font-weight: normal;
}

.gras {
  font-weight: bold;
}

.gros {
  font-size: 1.5em;
}

.image-flex-section {
  display: flex;
  width: 100%;
}

.image-flex-image {
  width: 100%;
}

img.toute-largeur {
  width: 100%;
}

.italique {
  font-style: italic;
}

.trois {
  width: 33.0%;
}

.quatre {
  width: 25%;
}

.invisible {
  display: none;
}

ol, ul {
  list-style-position: outside;
  padding-left: 2em;
}

p {
  margin: 0.75em 0;
}

p + ul {
  margin-top: -7px;
}

main, footer, header {
  width: 98%;
  /* max-width: 456px; */
  margin: 0 auto;
}

header {
  width: 100%;
}

hr {
  margin: 3.5em 0px;
}

hr.petit {
  margin: 2em auto;
  width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  /* font-family: 'Karla', sans-serif; */
}

.js {
  /* font-family: 'Source Code Pro', monospace; */
  /* color: #92B4F4; */
}

/* pour le SVG avec les nuages */
.couleur:hover {
  fill: var(--jaune);
}

.menu {
  color: var(--bleu);
  font-weight: normal;
  font-family: 'Source Sans Pro';
}

.nuage2 {
  fill: var(--blanc);
}

.nuage3 {
  /* fill: #9EB7E5; */
}

.nuage1 {
  /* fill: #7A8599; */
}

nav {
  margin: 0 auto;
  color: var(--blanc);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

nav ul li {
  flex: auto;

  background-color: var(--bleu);
  border: 1px solid var(--blanc);
  text-align: center; /* Centrer le texte dans les éléments de menu */
}

nav a {
  display: block; /* Toute la surface sera cliquable */
  text-decoration: none; /* Enleve le soulignement qui est géréralement associé aux éléments a */
  padding: 0.125em 0;
  font-size: 1.2em;
  font-weight: normal;
  color: var(--blanc)
}

nav a:hover, nav a:hover:visited {
  color: var(--bleufonce);
  background-color: var(--blanc);
}

nav a:visited {
  color: var(--blanc);
  background-color: var(--bleufonce);
}

@media screen and (min-width: 600px){
    main, footer, header {
        width: 90%;
        min-width: 580px;
    }

    header {
        width: 100%;
        max-width: 790px;
    }

    nav ul {
        flex-direction: row
    }
}

@media screen and (min-width: 900px){
    main, footer, header {
        width: 70%;
        min-width: 790px;
        max-width: none;
    }
}

@media screen and (min-width: 1200px){
    main, footer, header {
        width: 50%;
        min-width: 830px;
    }
}

.pre {
  white-space: pre;
}

.styleButton {
  background-color: var(--bleu);
  padding: 0px 10px;
  border-radius: 2px;
  margin: 2px;
}

table, th, td {
  border: 1px var(--blanc) solid;
  border-collapse: collapse;
  padding: 5px;  
  text-align: center;
}

tr:hover {
  background-color: var(--bleupale);
  color: var(--bleufonce);
  font-weight: bold;
}
